body {
  display:flex;
  flex-direction:column;
  font-family:sans-serif;
  margin:0 !important;
  padding:0 !important;
}

body a{
  text-decoration:none;
}

.header {
  background:white;
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.header a{
  color:black;
}

.header li{
  display:inline;
  padding:10px;
}

.nav {
  display:flex;
}

.bechdel {
  background:#151616;
  color:lightgray;
}

.bechdel-text {
  margin-left:150px;
}

.main {
  background:black;
  color:white;
}

.main-movie {
  display:flex;
  flex-direction:column;
  align-items:center;
}

.search {
  background-image:url("/old-movie.jpg");
  display:flex;
  flex-direction:column;
  align-items: center;
}